@using firstDoorFrontend.Components.Layout
@page "/"

<NavBar />

<div class="page-layout">
    <Filters />

    <JobOverview />
    

    <div class="content-section">
        <SearchBar />

        <div class="sortBy-div">
            <SortBy />
        </div>
        

        <div class="job-list-container">
            <JobCard />
            <JobCard />
            <JobCard />
        </div>
    </div>
</div>