


.page-layout {
    margin: 20px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-top: 30px;
}

.content-section {
    flex: 1;
}

.sortBy-div {
    display: flex;
    justify-content: flex-end;
    margin-right: 115px;
    margin-bottom: 40px;
    margin-top: -40px;
}