@using firstDoorFrontend.Components.Layout
@using Models;
@rendermode InteractiveServer
@page "/"

<NavBar />

<div class="page-layout">
    <Filters />

    <JobOverview />
    

    <div class="content-section">
        <SearchBar />

        <div class="sortBy-div">
            <SortBy />
        </div>
        
        <JobLoader OnJobSelected="HandleJobSelected"/>

    </div>
</div>

@code {
    private Job? SelectedJob { get; set; }

    private void HandleJobSelected(Job job)
    {
        SelectedJob = job;
    }
}