@using firstDoorFrontend.Components.Layout
@rendermode InteractiveServer
@page "/"

<NavBar />

<div class="page-layout">
    <Filters />

    <JobOverview />
    

    <div class="content-section">
        <SearchBar />

        <div class="sortBy-div">
            <SortBy />
        </div>
        
        <JobLoader />

    </div>
</div>