.login-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
    min-height: 1000px; 
    box-sizing: border-box;
}

.login-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 400px; 
    padding: 20px;
    box-sizing: border-box;
}