.login-container {
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}

.login-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 400px;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
    background-color: #060606;
    border: 1px solid #1c1c1e;
    border-radius: 12px;
}

.login-box h2,
.login-box label,
p {
    color: white;
}

.login-box div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}