.login-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
    min-height: calc(25vh - 10px); 
    box-sizing: border-box;
}

.login-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 400px; 
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.login-box div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.login-box input {
    width: 200px;
    padding: 6px;
    box-sizing: border-box;
}