@using Components.Layout
@using firstDoorFrontend.Components.Layout
@page "/saved"
@rendermode InteractiveServer

<NavBar></NavBar>

<div class="page-layout">
    <div class="content-section">
        <firstDoorFrontend.Components.Layout.SavedJobLoader></firstDoorFrontend.Components.Layout.SavedJobLoader>
    </div>
</div>

@code { 
}
