@using Components.Layout
@page "/saved"
@rendermode InteractiveServer

<h3>Saved Jobs</h3>

<firstDoorFrontend.Components.Layout.SavedJobLoader></firstDoorFrontend.Components.Layout.SavedJobLoader>

@code { 
}
