<div class="filters-container">
    <h3>Filters</h3>

    <div class="filter-options">
        <label><input type="checkbox" /> Full-Time</label>
        <label><input type="checkbox" /> Part-Time</label>
        <label><input type="checkbox" /> Temp work</label>
        <label><input type="checkbox" /> Full-stack</label>
        <label><input type="checkbox" /> Front-end</label>
        <label><input type="checkbox" /> Back-end</label>
        <label><input type="checkbox" /> Visa sponsorship</label>
        <label><input type="checkbox" /> On-site</label>
        <label><input type="checkbox" /> Hybrid</label>
        <label><input type="checkbox" /> Fully Remote</label>

        <ButtonComp CssClass="search-button" Text="Clear Fliters" />
    </div>
</div>