<div class="job-card">
    <div>
        <h3>Junior Frontend Developer</h3>
        <p>Tech Company ABC</p>
        <p>£28,000 - £35,000 per year</p>
    </div>

    <button class="job-card-button">View Job</button>
</div>