<nav class="top-navbar">

    <div class="logo-div">
        <Logo />
    </div>

    <div class="button-div">
        <ButtonComp Text="Jobs" />
        <ButtonComp Text="Saved Jobs" />
        <ButtonComp Text="Log in" />
    </div>

</nav>