<nav class="top-navbar">
    <div class="nav-links">
        @* <button class="nav-button">Jobs</button>
        <button class="nav-button">Saved Jobs</button>
        <button class="nav-button">Log in</button> *@
        <div class="button-div">
            <ButtonComp Text="Jobs" />
            <ButtonComp Text="Saved Jobs" />
            <ButtonComp Text="Log in" />

        </div>
        
    </div>
</nav>