<div class="sort-container">

    <label for="sortSelect">Sort By:</label>

    <select id="sortSelect" class="sort-select" >
        <option value="value">Salary (Low to High)</option>
        <option value="value">Salary (High to Low)</option>
        <option value="value">Distance</option>
        <option value="value">Most Recent</option>
        <option value="value">Oldest</option>
    </select>

</div>