.filters-container {
    width: 260px;
    height: 100vh;
    min-height: 300px;
    border: 2px solid white;
    border-radius: 14px;
    padding: 35px 28px;
    background: black;
}

.filters-container h3 {
    text-align: center;
    margin-bottom: 28px;
}

.filter-options {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.filter-options label {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 16px;
}

.filter-options input {
    width: 14px;
    height: 14px;
}

.search-button{
    margin-top: 120px;
}

.search-button:hover {
    background: springgreen;
}
