@using Models
@using Microsoft.AspNetCore.Components
@rendermode InteractiveServer

@if (Job != null) 
{
    <div class="job-card">
        <div>
            <h3>@Job.Title</h3>
            <p>@Job.EmployerName</p>
            <p>@Job.Location</p>
        </div>

        <button @onclick="() => HandleClick(Job)" Text="View Job" />
    </div>
}



@code {
    [Parameter]
    public Job? Job { get; set; } 

    [Parameter]
    public EventCallback<Job> OnViewJob { get; set; }

    private async Task HandleClick(Job job)
    {
        await OnViewJob.InvokeAsync(job);
    }
}