@using Models
@using Microsoft.AspNetCore.Components
@rendermode InteractiveServer


<div class="job-card">
    <div>
        <h3>@Job.Title</h3>
        <p>@Job.EmployerName</p>
        <p>@Job.Location</p>
    </div>

    <button @onclick="() => HandleClick(Job)" Text="View Job" />
</div>


@code {
    [Parameter]
    public Job Job { get; set; } = new Job("Software Engineer","Dell","London","Decription stuff","a URL");

    [Parameter]
    public EventCallback<Job> OnViewJob { get; set; }

    private async Task HandleClick(Job job)
    {
        await OnViewJob.InvokeAsync(job);
    }
}