@using Models
@inject HttpClient Http
@rendermode InteractiveServer

@if (isError)
{
    <p>Error loading jobs. Please try again later.</p>
}
else if (jobs == null)
{
    <p>Loading jobs...</p>
}
else if (jobs.Count == 0)
{
    <p>No jobs found.</p>
}
else
{
    <div class="job-list-container">
        @foreach (var job in jobs)
        {
            <JobCard Job="job" OnViewJob="OnJobSelected"/>
        }
    </div>
}


@code {
    private List<Job>? jobs = new();

    private bool isError = false;

    [Parameter]
    public EventCallback<Job> OnJobSelected { get; set; }

    protected override async Task OnInitializedAsync()
    {
        isError = false;

        try
        {
            //careerJet call
            using var careerJetRequest = new HttpRequestMessage(HttpMethod.Get, "http://localhost:5095/CareerJet");
            careerJetRequest.Headers.Add("User-Agent", "Mozilla");

            var careerJetResponse = await Http.SendAsync(careerJetRequest);
            careerJetResponse.EnsureSuccessStatusCode();

            var careerJetJobs = await careerJetResponse.Content.ReadFromJsonAsync<List<Job>>() ?? new List<Job>();

            //reed call
            using var reedRequest = new HttpRequestMessage(HttpMethod.Get, "http://localhost:5095/Reed?keyword=junior&location=London");
            
            var reedResponse = await Http.SendAsync(reedRequest);
            reedResponse.EnsureSuccessStatusCode();

            var reedJobs = await reedResponse.Content.ReadFromJsonAsync<List<Job>>() ?? new List<Job>();
            Console.WriteLine("About to call Reed");
        
            jobs = careerJetJobs
                .Concat(reedJobs)
                .ToList();
        }

        catch (Exception ex)
        {
            isError = true;
            //Console.WriteLine($"Error fetching jobs: {ex.Message}");
            Console.WriteLine(ex);
        }
    }
}
