@inject NavigationManager Navigation

<nav class="top-navbar">

    <div class="logo-div">
        <Logo />
    </div>

    <div class="button-div">
        <ButtonComp Text="Jobs" />
        <button @onclick="@(() => PerformNavigation("saved"))">Saved Jobs</button>
        <ButtonComp Text="Log in" />
    </div>

</nav>

@code {
    private void PerformNavigation(string route)
    {
        Navigation.NavigateTo($"/{route}");
    }
}