@inject NavigationManager Navigation

<nav class="top-navbar">

    <div class="logo-div">
        <Logo />
    </div>

    <div class="button-div">
        <NavLink href="/">
            <ButtonComp Text="Jobs"/>
         </NavLink>
        <NavLink href="/saved">
            <ButtonComp Text="Saved Jobs" />
        </NavLink>
        <NavLink>
            <ButtonComp Text="Log in"/>
        </NavLink>
    </div>

</nav>