.saved-job-card {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    min-height: 95px;
    border: 2px solid white;
    border-radius: 14px;
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
}

.job-header {
    width: 500px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 4px;
}

.job-description {
    flex: 1;
    overflow: hidden;
    margin: 0px 8px;
}

    .job-card h3 {
        margin: 0 0 6px 0;
        font-size: 18px;
    }

    .job-card p {
        margin: 3px 0;
    }

.delete-confirmation {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: black;
    padding: 8px 14px;
    font-weight: 600;
    border-radius: 14px;
}

.job-actions {
    width: 180px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-shrink: 0;
}

.status {
    font-size: 0.9rem;
    color: #666;
}

.quick-apply-button {
    width: fit-content;
}

.saved-job-card:hover {
    background: rgba(18,18,18);
}